<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0;">
        <meta name="format-detection" content="telephone=no" />

        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E" />
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap"
            rel="stylesheet" />
        <!-- MESSAGE SUBJECT -->
        <title>Email Verification</title>

    </head>

    <!-- BODY -->
    <!-- Set message background color (twice) and text color (twice) -->
    <body style="background-color: #F3F4F9; display: flex; justify-content:
        center; align-items: center; font-family: 'Barlow', sans-serif; margin:
        0; padding: 0; color: #292929;">
        <div style="background-color: #F3F4F9; display: flex; flex-direction:
            column; gap: 30px; width: 700px; margin: 0; padding: 0;">
            <img style="height: 280px; object-fit: cover; object-position:
                center; border-radius: 15px 15px 0px 0px;"
                src="https://i.ibb.co/PMs2bFj/Whats-App-Image-2022-07-01-at-7-51-23-PM.jpg">
            <div style="display: flex; flex-direction: column; border-radius: 0px 0px 15px 15px;background: #F1F6FA;
            border-bottom: 10px solid #F4BA64; padding: 0 40px;">
                <div>
                    <h3 style="font-size: 32px; font-weight: 700;">
                        Hola {{ name }},
                    </h3>
                    <p style="font-size: 20px; line-height: 30px;">
                        ¡Te damos la bienvenida a PickPaw!, un espacio en donde
                        podrás
                        ayudar a cientos de mascotas que necesitan de tu ayuda,
                        ademas
                        de ser un lugar donde sabrás donde solicitar ayuda con
                        lo
                        que
                        necesites.
                        <br>
                        </br>
                        Pero antes, necesitamos que realmente seas tu, es por
                        eso
                        que te
                        pedimos que confirmes tu correo electrónico para brindar
                        la
                        mejor seguridad a nuestros usuarios y mascotas.
                    </p>
                </div>
                <a style="background-color: #F4BA64;
                    border: none; border-radius: 20px; width:
                    fit-content; padding: 10px; color: white; font-weight:
                    400; font-family: Barlow; text-decoration: none;" href={{ url }}>Confirmar tu correo electrónico</a>
                <div style="width: 100%; height: 2px; background-color: #D9D9D9; margin: 30px 0;"></div>
                <p style="background: #E5EAEE; border-radius: 5px; padding:
                    30px; font-size: 15px; color: #6B7280; text-align: center;">
                    No respondas a este mensaje. Este correo electrónico ha sido
                    a
                    través de un
                    sistema automatizado que no permite dar respuesta a las
                    preguntas enviadas a esta
                    dirección.
                </p>
                <div style="display: flex; justify-content: center; align-items:
                    center; margin: 20px 0;">
                    <p style="font-size: 15px; color: #6B7280;">
                        © 2022 PickPaw. Todos los derechos reservados.
                    </p>
                </div>
            </div>
        </div>
        <!-- SECTION / BACKGROUND -->
        <!-- Set message background color one again -->

    </body>
</html>
